Package: libglibutil
Version: 1.0.66
Architecture: amd64
Maintainer: Slava Monich <slava.monich@jolla.com>
Installed-Size: 81
Depends: libc6 (>= 2.14), libglib2.0-0 (>= 2.37.3)
Section: libs
Priority: optional
Description: Library of glib utilities
